.id {
    background-color: orange;
    font-size: 40px;
}

.title {
    font-size: 40px;
}

ul {
    list-style-type: none;
}

li {
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
}

.clear {
    font-size: 40px;
    cursor: pointer;
}